<h1>Google Cloud Platform - Translate Sample</h1>

<p>This Python Flask application demonstrates App Engine Flexible and the Translate API</p>

<br>

<html>
  <body>
    <form action="run_translate" method="POST" enctype="multipart/form-data">
      Translate: <input type="text" name="text"><br>
      <input type="submit" name="submit" value="Submit">
    </form>


    {% if confidence %}
      <h2>Language Detection:</h2>
        <p><b>Confidence:</b> {{ confidence }}</p>
        <p><b>Input:</b> {{ inputt }}</p>
        <p><b>Language:</b> {{ language }}</p>
      <br>
      <h2>Translation:</h2>
        <p>{{ translated_text }}</p>
      <br>
    {% endif %}
  </body>
</html> 