<h1>Google Cloud Platform - Speech Sample</h1>

<p>This Python Flask application demonstrates App Engine Standard, Cloud Storage, and the Speech API</p>

<br>

<html>
  <body>
    <form action="upload_audio" method="POST" enctype="multipart/form-data">
      <p>Upload Audio File (try a file in the gcp-hackathon-demos/speech/resources folder):</p>
      <input type="file" name="file">
      <p></p>
      <input type="submit" name="submit" value="Submit">
    </form>

    {% if results %}
      <h2>Results:</h2>
      {% for result in results %}
        <p><b>Transcript:</b> {{result.alternatives[0].transcript}}</p>
        <p><b>Confidence:</b> {{result.alternatives[0].confidence}}</p>
      {% endfor %}
      <br>
    {% endif %}
  </body>
</html> 