<h1>Google Cloud Platform - Vision Sample</h1>

<p>This Python Flask application demonstrates App Engine Flexible and the Cloud Vision API</p>

<br>

<html>
  <body>
    <form action="upload_photo" method="POST" enctype="multipart/form-data">
      Upload File: <input type="file" name="file"><br>
      <input type="submit" name="submit" value="Submit">
    </form>
    {% if public_url %}
      <img src="{{public_url}}" width=200 height=200>
      <p>{{response}}</p>
      {% for label in labels %}
        <p><b>Label:</b> {{label.description}} <b>Score:</b> {{label.score}}</p>
      {% endfor %}
      {% for face in faces %}
        <p>Joy Likelihood: {{face.joy_likelihood}}</p>
        <p>Sorrow Likelihood: {{face.sorrow_likelihood}}</p>
        <p>Anger Likelihood: {{face.anger_likelihood}}</p>
        <p>Surprise Likelihood: {{face.surprise_likelihood}}</p>
        <p>Underexposed Likelihood: {{face.underexposed_likelihood}}</p>
        <p>Blurred Likelihood: {{face.blurred_likelihood}}</p>
        <p>Headwear Likelihood: {{face.headwear_likelihood}}</p>
      {% endfor %}

      <br>
      {% for web_entity in web_entities %}
        <p><b>Web Entity:</b> {{web_entity.description}} <b>Score:</b> {{web_entity.score}}</p>
      {% endfor %}
    {% endif %}
  </body>
</html> 